.card-picture{
    width: 350px;
    height: 400px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin-top: 40px;
    justify-content: center;
}
.card{
  width: 350px;
  margin-top: 50px;
}

@media(max-width:990px){
  .cards{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 40px;
    justify-content: center;
}
}
